img {
    width: 35px;
    height: 35px;
}

body {
    background: #88a4c6;
}

p {
    background: #38ae3d;
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

button {
    width: 100%;
    height: 100%;
}

form {
    height: 100%;
}

/*--------設定アイコンに関して-------------------*/

.fixed-top {
    left: unset;
    opacity: 0.8;
}

.nav-item>a {
    color: white;
}

/*----------------------------- ChatLog領域に関して -----------------------------*/

.row {
    margin: unset;
}

.ChatLog {
    margin-bottom: 55px;
}

.container-fluid {
    padding: unset;
}

.SendMessage>.col-10,
.ReplyMessage>.col-10 {
    padding-right: 5px;
    padding-left: 5px;
}

.SendMessage {
    margin: 10px 0;
}

.SendDateTime {
    position: absolute;
    left: -45px;
}

.ReplyDateTime {
    position: absolute;
    right: -40px;
}

.col-10,
col-11,
.col-2,
.col-1 {
    padding: unset;
}

.col-2 {
    text-align: center;
}

/* -----------------------入力領域に関して----------------------------- */

.fixed-bottom {
    background: white;
    height: 50px;
}

.Form>.col-10,
.submit {
    padding-right: unset;
    padding-left: unset;
}

label {
    display: none
}

#id_content {
    width: 100%;
    height: 100%;
}

.Form {
    height: 100%;
}

.PC {
    display: none;
}

@media screen and (min-width: 1000px) {
    img {
        width: 65px;
        height: 65px;
    }
    p {
        font-size: 18px;
        line-height: 2em;
    }
    .PC {
        display: flex;
    }
    .SP {
        display: none;
    }

}
