{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}



{% block content %}
<h1>Home画面</h1>

<!--ログイン状態-->
  {% if user.is_authenticated %} Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">logout</a></p>
    <p><a href="{% url 'chat_bot_message' %}">チャット</a></p>


<!--未ログイン状態-->
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a> 
  {% endif %} 
{% endblock %}
