{% extends 'base/base.html' %}
<!-- 静的ファイルの読み込み -->
{% load static %}

<!-- tittle表示 -->
{% block title %}Chat{% endblock %}

<!-- bootstrapとJquery以外の静的ファイル読み込み  -->
{% block css_js %}
<link rel="stylesheet" type="text/css" href="{% static 'chat_bot/css/style.css' %}">
<script type="text/javascript" src=" {% static 'chat_bot/js/script.js' %}"></script>
{% endblock %}

<!--body内のマークアップ -->
{% block content %}
<!-- 設定アイコンに関して -->
<div class="fixed-top">
    <nav class="navbar">
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <i class="fas fa-cog fa-2x" alt="設定"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav ">
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'password_change' %}">パスワード変更</a></li>
            </ul>
        </div>
    </nav>
</div>
<!--ここに会話logが残ってくる-->
<div class="ChatLog container-fluid">
    {% for item in data %}
    <div class="SendMessage row">
        <!-- 自分が送るメッセージ  -->
        <div class="offset-2 col-10 clearfix">
            <p class="float-right">{{ item.content }}<span class="SendDateTime">{{ item.pub_date.time }}</span></p>
        </div>
    </div>
    <!-- Botが返すメッセージ -->
    <div class="ReplyMessage row clearfix">
        <div class="col-10">
            <div class="row SP">
                <div class="col-2">
                    <img src="{% static 'chat_bot/img/icon.jpg' %}" alt="アイコン画像"></img>
                </div>
                <div class="col-10">
                    <p>{{ item.respond }}<span class="ReplyDateTime">{{ item.pub_date.time }}</span></p>
                </div>
            </div>
            <div class="row PC">
                <div class="col-1">
                    <img src="{% static 'chat_bot/img/icon.jpg' %}" alt="アイコン画像"></img>
                </div>
                <div class="col-11">
                    <p>{{ item.respond }}<span class="ReplyDateTime">{{ item.pub_date.time }}</span></p>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
<!--送信領域に関して-->
<div class="fixed-bottom container-fluid">
    <form action="{% url 'chat_bot_message' %}" method="POST">
        <div class="row Form">
            <div class="col-10">
                {% csrf_token %} {{ form }}
            </div>
            <div class="col-2 submit">
                <button type="submit" value="click"><i class="fas fa-paper-plane fa-2x"></i></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
