<!DOCTYPE html>
<!-- 静的ファイルの読み込み -->
{% load static %}

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'base/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'base/css/base.css' %}">
  <script type="text/javascript" src=" {% static 'base/js/jquery-3.5.1.js' %}"></script>
  <script type="text/javascript" src=" {% static 'base/js/bootstrap.min.js' %}"></script>
  {% block css_js %}{% endblock %}
</head>

<body>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>

</html>
